body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 43, 43);
  color: white;
}

.main-btn {
  max-width: 100px;
  max-height: 100px;
  padding-bottom: 0.11em;
  width: 100px;
  height: 100px;
  font-size: 4em;
  border-radius: 50%;
  border: solid 2px;
  border-color: white;
  background-color: transparent;
}

.main-btn:hover {
  background-color: rgb(36, 36, 36);
}

.main-btn:active {
  background-color: rgb(24, 24, 24);
  border-color: darkgrey;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  text-align: center;
}

.btn-contaner {
  display: block;
  text-align: center;
}

.reset-btn {
  /* margin-top: 1em; */
  border: solid 2px;
  border-color: white;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
  font-size: 1.5em;
  color: white;
  padding: 0.4em;
}

.reset-btn:hover {
  background-color: rgb(36, 36, 36);
}

.reset-btn:active {
  background-color: rgb(24, 24, 24);
  border-color: darkgrey;
  color: darkgrey;
}
